.doc-page {
    font-size: 14px;
    color: #282c34;
}

.doc-container {
  display: inline-block;
  min-width: 200px;
  width: 60vw;
  padding: 10px;

  ::selection {
    background: #045464;
    color: white;
  }

  .highlight {
    background-color: blue;
    color: white;

    ::selection {
      background: red;
    }
  }
}

.snippet-drawer {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;

  min-width: 80px;
  width: 30vw;

  position: absolute;
  top: 10px;
  right: 10px;
}
