.doc-page {
    font-size: 14px;
    color: #282c34;
}

.doc-container {
  display: inline-block;
  min-width: 200px;
  width: 60vw;
  padding: 10px;

  $highlight: #06c1e7;

  &::selection {
    background: $highlight;
    color: white;
  }

  .highlight-1 {
    background: $highlight;
    color: white;
  
    &::selection {
      background: darken($highlight, 20%);
    }
  }

  .highlight-2 {
    background: darken($highlight, 20%);
    color: white;

    &::selection {
      background: darken($highlight, 40%);
    }
  }

  .highlight-3 {
    background: darken($highlight, 40%);
    color: white;

    &::selection {
      background: darken($highlight, 60%);
    }
  }

  // @for $i from 1 through 10 {
  //   .highlight-#{$i} {
  //     background: darken($highlight, calc($i*10%));
  //   }
  //
  // &::selection {
  //   background: darken($highlight, calc(calc($i+1)*10%));
  // }
}

.snippet-drawer {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;

  min-width: 80px;
  width: 30vw;

  position: absolute;
  top: 10px;
  right: 10px;
}
